[Desktop Entry]
Name=Localboard
Type=Application
Version=1.4
Comment=Local Focalboard
Keywords=;
Categories=GTK;WebApps;;
Exec=/home/marc/.local/bin/desktop-service localhost:8000 focalboard
Icon=focalboard
Actions=
MimeType=
Terminal=false
StartupNotify=true
