[Desktop Entry]
Name=Localboard
Type=Application
Version=1.4
Comment=Local Focalboard
Keywords=;
Categories=GTK;WebApps;;
Exec=/home/marc/.local/bin/desktop-service focalboard localhost:8000
Icon=FFPWA-01GSPY2TZ6RE86A360QFWGHGCP
Actions=
MimeType=
Terminal=false
StartupNotify=true
