[Desktop Entry]
Name=CV
Type=Application
Version=1.4
Comment=Local Resume
Keywords=;
Categories=GTK;WebApps;;
Exec=/home/marc/.local/bin/desktop-service localhost:8002 resume
Icon=FFPWA-01H0GPCMA9TS9QBH7B6J5FHP6J
Actions=
MimeType=
Terminal=false
StartupNotify=true
