[Desktop Entry]
Name=CV
Type=Application
Version=1.4
Comment=Local Resume
Keywords=;
Categories=GTK;WebApps;;
Exec=/home/marc/.local/bin/desktop-service localhost:8002 resume
Icon=resume
Actions=
MimeType=
Terminal=false
StartupNotify=true
