[Desktop Entry]
Name=Local Vaultwarden
Type=Application
Version=1.4
Comment=Local Vaultwarden
Keywords=;
Categories=GTK;WebApps;;
Exec=/home/marc/.local/bin/desktop-service localhost:8001 vaultwarden
Icon=vaultwarden
Actions=
MimeType=
Terminal=false
StartupNotify=true
